:root {
    --tg-theme-primary: #9425FE;
}

.dashboard__top-bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard__instructor-info {
    position: relative;
    margin-top: -60px;
    padding: 0 20px;
}

.dashboard__instructor-info .thumb {
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
}

.detail-photo {
    display: block;
    width: 120px !important;
    height: 120px !important;
    object-fit: cover;
}